<div class="ke-setup-container">
    <form id="ke-actor-config">

        <h1>{{actor.name}} Kineticist Enhanced Config</h1>
        <hr>
        <nav class="tabs {{style}} ke-setup-tabs" id="ke-setup-tabs" data-group="primary-tabs">
            <a class="item" data-tab="blastconfig">Blasts</a>
            <a class="item" data-tab="infusionconfig">Infusions</a>
            <a class="item" data-tab="utilityconfig">Utilities</a>
            <a class="item">Metakinesis (WIP)</a>
        </nav>
        <hr>
        <div style="width: 100%; height: 8px;"></div>

        <div style="text-align: center; padding-bottom: 8px">
            <button class="ke-button save-simple-button" type="submit"><i class="fas fa-solid fa-save"></i> Save Config
            </button>
        </div>

        <section class="ke-setup-body {{style}}" id="ke-setup-body">
            <div class="tab" data-tab="blastconfig" data-group="primary-tabs">
                {{> "modules/pf1-kineticist-enhancements/templates/partials/tab-blasts.hbs" simpleBlasts=simpleBlasts }}
            </div>
            <div class="tab" data-tab="infusionconfig" data-group="primary-tabs">
                {{> "modules/pf1-kineticist-enhancements/templates/partials/tab-infusions.hbs" tabname="infusionconfig" formInfusions=formInfusions substanceInfusions=substanceInfusions }}
            </div>
            <div class="tab" data-tab="utilityconfig" data-group="primary-tabs">
                {{> "modules/pf1-kineticist-enhancements/templates/partials/tab-utilities.hbs" tabname="utilityconfig" utilityTalents=utilityTalents }}
            </div>
            <div class="tab disabled" data-tab="metakinesisconfig" data-group="primary-tabs">
                {{> "modules/pf1-kineticist-enhancements/templates/partials/tab-name.hbs" tabname="metakinesisconfig"}}
            </div>
        </section>

        </button>
    </form>
</div>


