<div id="ke-actor-config">
    <form id="actor-config">

        <h1>{{actor.name}} Config</h1>
        <hr>
        <nav class="tabs {{style}} ke-setup-tabs" id="ke-setup-tabs" data-group="primary-tabs">
            <a class="item" data-tab="blastconfig">Blasts</a>
            <a class="item" data-tab="infusionconfig">Infusions</a>
            <a class="item" data-tab="utilityconfig">Utilities</a>
            <a class="item" data-tab="metakinesisconfig">Metakinesis</a>
        </nav>
        <hr>
        <div style="width: 100%; height: 8px;"></div>

        <div style="text-align: center; padding: 0 3rem 8px; display: flex; justify-content: space-between; gap: 2rem">
            <button class="ke-button save-simple-button" type="submit" id="save-actor-config"><i class="fas fa-solid fa-save"></i> Save Actor Config</button>
            <button class="ke-button ke-config-custom-settings-button" id="open-custom-infusions" style="display: none;"><i class="fas fa-solid fa-gear"></i> Custom Infusions</button>
            <button class="ke-button ke-config-custom-settings-button" id="open-custom-blasts" style="display: none;"><i class="fas fa-solid fa-gear"></i> Custom Blasts</button>
            <button class="ke-button ke-config-custom-settings-button" id="open-custom-utility" style="display: none;"><i class="fas fa-solid fa-gear"></i> Custom Utility Infusions</button>
            <button class="ke-button ke-config-custom-settings-button" id="open-custom-metakinesis" style="display: none;"><i class="fas fa-solid fa-gear"></i> Custom Metakinesis</button>
        </div>

        <section class="ke-setup-body {{style}}" id="ke-setup-body" style="margin-bottom: 1rem">
            <div class="tab" data-tab="blastconfig" data-group="primary-tabs">
                {{> "modules/pf1-kineticist-enhancements/templates/partials/tab-blasts.hbs" simpleBlasts=simpleBlasts }}
            </div>
            <div class="tab" data-tab="infusionconfig" data-group="primary-tabs">
                {{> "modules/pf1-kineticist-enhancements/templates/partials/tab-infusions.hbs" tabname="infusionconfig" formInfusions=formInfusions substanceInfusions=substanceInfusions }}
            </div>
            <div class="tab" data-tab="utilityconfig" data-group="primary-tabs">
                {{> "modules/pf1-kineticist-enhancements/templates/partials/tab-utilities.hbs" tabname="utilityconfig" utilityTalents=utilityTalents }}
            </div>
            <div class="tab" data-tab="metakinesisconfig" data-group="primary-tabs">
                {{> "modules/pf1-kineticist-enhancements/templates/partials/tab-metakinesis.hbs" tabname="metakinesisconfig"}}
            </div>
        </section>

    </form>
</div>


