<form id="settings-custom-feat">
    <div class="save-button">
        <button class="ke-button save-simple-button" type="submit" id="save-custom"><i class="fas fa-solid fa-save"></i> Save Feats</button>
    </div>
    <div class="columns">

        <div class="column">
            <table class="ke-table">
                <tr>
                    <th colspan="2">Feats</th>
                </tr>

                {{#each customFeats}}
                    <tr class="settings-custom-row editable">

                        <td>
                            <label for="custom-feat-{{id}}">{{name}}</label>
                            <div>
                                <button id="custom-{{id}}-edit"><i class="fa-solid fa-edit"></i></button>
                                <button id="custom-{{id}}-delete"><i class="fa-solid fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                {{/each}}

                <tr>
                    <td class="table-add-button" colspan="2"><span id="add-custom-feat">+ Add Custom</span></td>
                </tr>
            </table>
        </div>
    </div>

</form>
