<div id="custom-transform-help">
    <pre>/**
  @param instance:    ApplicationBlastAttack instance. Usually used to access 'instance.actor'
  @param dmgParts:    Tuples of strings [formula for dice roll, description of dice]
  @param blastData:   PF1.Item instance
  @param blastConfig: JSON config of blast info.  See /src/module/lib/generated/simpleBlasts.js for examples
  @param formData:    form object returned from ApplicationBlastAttack.  Used to check conditions of other parts of form.
*/</pre>
</div>

