<div id="ke-token-hud">
    <div id="ke-action-list">
        {{#each buttons}}
            <button id="{{id}}" class="ke-hud-button {{#each classes}}{{/each}}">{{text}}</button>
        {{/each}}
    </div>
</div>
