.ke-setup-container {
}

.ke-button {
    background-color: rgba(0, 0, 0, 0.1);
    width: 50%;
}

#ke-blasts-config {
}

#pf1-kineticist-enhancements_setup {
    h1,
    h3 {
    }
}

#ke-actor-select {
    .ke-actor {
        cursor: pointer;
    }
    .ke-avatar {
        width: 75px;
        height: auto;
    }
}
